body{
    background-color: rgb(rgb(116, 0, 0));

}

h2{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    text-align: center;
}

h1{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-align: left;
    margin-left: 100px;
}

form{
    color: white;
    border-bottom: 5px solid whitesmoke;
    border-top: 5px solid whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
}
button{
    background-color: gold;
    color: black;
    font-size: 20px;
    text-align: center;
}   

a{
    color: gold;
}

footer{
    background-color: gray;
    border: 5px solid white;
    padding: 0% 5%;
}