p2{
    color: red;
    font-size: 20px;
    text-align: center;
}

a

h2{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    text-align: center;
}

h1{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-align: left;
    margin-left: 100px;
} 

ul{
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
}
body{
    background-color: greenyellow;
}
a{
    color: white;
}

